# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists
* Some of the DataScience Tools
* Evaluating some Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit Learn
4. Matplotlib

Some of the DataScience Tools:

| Data Science Tools |
|--------------------|
|Visual Studio Code|
|RStudio|
|Jupiter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [25]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [34]:
minutes=200
hours=200/60
print(hours)

3.3333333333333335

## Author
Vivek Kudikala